//color 
$primary-color: #D2D2D2;
$secondary-color: #DEDEDE;
$link-color: #104BE3;
$genre-color: #EA8C1E;
$dark-bg: #121212;
$main-bg: #181818;
$light-bg: #202020;














































